/*
 *
 * @Copyright 2023 TO WIN
 *
 */

.benefit {
    padding: 30px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.17);
    width: 315px;
    border-radius: 15px;
    margin-bottom: 40px;

    &__icon {
        svg {
            width: 50px;
            height: 50px;
            fill: $color-primary;
            margin-bottom: 10px;
        }
    }

    &__title {
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__copy {
        font-size: 0.9em;
    }

    @media only screen and (max-width: 768px) {
        width: 270px;
    }
}