/*
 *
 * @Copyright 2023 TO WIN
 *
 */

.section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
    font-size: 13px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1140px;
        margin-top: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid $color-white;

        &__business {
            img {
                width: 245px;
                height: 32px;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 40px;
            }

            margin-bottom: 20px;
        }

        &__social {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            p {
                margin-bottom: 50px;
            }

            a {
                text-decoration: none;
                margin-bottom: 40px;

                svg {
                    fill: $color-white;
                }
            }
        }
    }

    p {
        margin-bottom: 30px;
    }

    @media only screen and (max-width: 768px) {
        height: auto;

        &__wrap {
            width: 80%;

            &__business {
                img {
                    width: 110px;
                    height: 16px;
                }
            }
        }
    }
}